################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Build Folders
bin/
obj/
*.user
*.vs/
*.suo
*.pdb
*.dll
*.exe
*.log
*.cache

